/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&
family=Teko:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

:root {
  --primary-font: 'Chakra Petch', sans-serif;
  --secondary-font: 'Roboto Mono', monospace;
  --primary-color: #64ffda;
  --secondary-color: #0a192f;
  --white: #fff;
  --icon-color: #0a192f;
  --nav-color: #ccd6f6;
  --text-color: #8892b0;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.header__img {
  width: 6rem;
  height: 5rem;
}

@media (min-width: 769px) {
  .header__img {
    position: fixed;
  }
}

.navbar {
  display: flex;
}

.navbar-nav {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}

.nav-link {
  display: flex;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  color: var(--nav-color) !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}


.header__navbar {
  margin: 1.5rem 0rem;
}

.list__link {
  display: none;
}

.resume {
  font-family: var(--secondary-font);
  display: inline;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--primary-color) !important;
  border: solid var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  top: 0.5rem;
}

.resume:hover {
  background-color: #405751;
}

/* Salute */
.salute {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  margin-left: 4rem;
}

@media (min-width: 769px) {
  .salute {
    margin-left: 15rem;
  }
}

.name {
  font-size: 4rem;
  color: var(--white);
  margin-top: 0;
  margin-left: 4rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.8rem;
}

@media (min-width: 769px) {
  .name {
    font-size: 6rem;
    margin-left: 15rem;
  }
}

.profession {
  font-size: 3rem;
  font-weight: normal;
  color: var(--white);
  margin-top: -2rem;
  margin-left: 4rem;
}

@media (min-width: 769px) {
  .profession {
    font-size: 5rem;
    margin-left: 15rem;
  }
}

.main-text {
  font-size: 1.65rem;
  color: var(--nav-color);
  margin-left: 4rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
}

@media (min-width: 769Px) {
  .main-text {
    font-size: 2rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
  }
}

/* Social Media */
.socialMedia {
  position: fixed;
  bottom: 2%;
  left: 1rem;
}

@media (min-width: 769px) {
  .socialMedia {
    position: fixed;
    top: 30rem;
    left: 5rem;
  }
}

.github {
  display: block;
  margin-bottom: 1rem;
}

.instagram {
  display: block;
  margin-bottom: 1rem;
}

.linea {
  display: none;
}

@media (min-width: 769px) {
  .linea {
    display: block !important;
    border-left: thick #fff !important;
    height: 16rem;
    left: 50%;
    position: absolute;
  }
}

/* WhatsApp Button*/
.float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  font-size: 30px;
  z-index: 10;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.float:hover {
  color: #25d366;
  background-color: #fff;
}

/* Sections */

/* About */
.about__title {
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-top: 4rem;
  margin-left: 4rem;
}

@media (min-width: 769px) {
  .about__title {
    margin-top: 5.5rem;
    padding-top: 2rem;
    margin-left: 15rem;
  }
}

@media (min-width: 769px) {
  .about__container {
    display: flex;
  }
}

.about__text {
  margin-left: 4rem;
  font-size: 1.65rem;
  color: var(--nav-color);
  padding-right: 2rem;
  margin-top: 1rem;
}

@media (min-width: 769px) {
  .about__text {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    color: var(--nav-color);
    margin-right: 5rem;
    margin-left: 15rem;
  }
}

.btoro {
  color: var(--nav-color);

}

.about__img {
  width: 18rem;
  border-radius: 1.5rem;
  border: solid var(--primary-color);
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .about__img {
    margin-left: 25%;
  }
}

@media (min-width: 769px) {
  .about__img {
    width: 22rem;
    margin-top: 2rem;
    margin-right: 30rem;
    opacity: 0.7;
  }
}

@media (min-width: 768px) {
  .about__img:hover {
    opacity: 1;
  }
}



/* Contact */
.contact__title {
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-top: 5rem;
  margin-left: 4rem;
}

@media (min-width: 769px) {
  .contact__title {
    padding-top: 6rem;
    margin-top: 10rem;
    margin-left: 15rem;
  }
}

.talk-to-me {
  margin: 9rem 0;
  margin-bottom: 11rem;
  text-align: center;
}

@media (min-width: 769px) {
  .talk-to-me {
    margin: 15rem 0;
    margin-bottom: 20rem;
    text-align: center;
  }
}

.hello__link {
  border: solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem 4rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white) !important;
  text-decoration: none;
}

.hello__link:hover {
  background-color: #405751;
  transition: ease-in 0.3s;
}

.upButton {
  color: var(--primary-color);
}

/* Footer */
.footer {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
}

.upButton {
  text-align: center;
  padding-bottom: 2rem;
}

.up {
  width: 8rem;
  height: 8rem;
  border: solid var(--primary-color);
  border-radius: 50%;
  padding: 1.5rem;
}

.up:hover {
  background-color: #405751;
  transition: ease-in 0.3s;
}